body {
    color: green;
    font-size: 11.5pt;
    padding: 14px;
}

form > p {
    display: flex;
    align-items: flex-start;
}

form > hr {
    border-top: solid 2pt grey;
}

form > p > input, form > p > textarea, form > p > select {
    border: solid 2px green;
    border-radius: .25rem;
    width: 330px;
}

form > p > textarea {
    height: 100px;
}

form > p > label {
    width: 130px;
}

table > tbody > tr > td {
    border: solid 2px green;
    padding: 10px;
}

.container {
    margin: 50px auto;
    max-width: 600px;
}

.btn{
    font-size: inherit;
    padding: 0 10px;
    margin: 6px;
    width: 150px;
}

.list-group {
    padding: 10px;
}

.list-group-item {
    border: solid 2px green;
    padding: 6pt;
}

.publr {
    font-weight: 800;
    margin-left: 12px;
}

.welcome {
    font-size: 12pt;
    font-weight: 800;
}

