{% extends 'base0.html' %}

{% block content %}
    <p class="welcome">
        Добро пожаловать в мою библиотеку.<br>
        Тут собрано {{ books_count }} книг из моей личной коллекции.
    </p>
    <table border="1">
        <tr>
            <th>Вид</th>
            <th>Нименование</th>
            <th>ISBN</th>
            <th>Описание</th>
            <th>Год изд.</th>
            <th>Издатель</th>
            <th>Автор</th>
            <th>Страна</th>
            <th>Кол.экз.</th>
            <th>Друг</th>
            <th>Операции</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>
                {% if book.image %}
                    <div class="book-img" style="background-image: url({{ book.image.url }})"></div>
                {% endif %}
            </td>
            <td>{{ book.title }}</td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.year_release }}</td>
            <td>{{ book.publisher.name }}</td>
            <td>{{ book.author.full_name }}</td>
            <td>{{ book.author.country }}</td>
            <td>{{ book.copy_count }}</td>
            <td>{{ book.friend.full_name }}</td>
            <td>
                <form action="/index/book_increment/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{book.id}}" />
                    <input type="submit" class="btn btn-success" value="Увеличить кол-во" />
                </form>
                <form action="/index/book_decrement/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{book.id}}" />
                    <input type="submit" class="btn btn-secondary" value="Уменьшить кол-во" />
                </form>
                <form action="/index/book_borrow/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="book_id" value="{{book.id}}" />
                    <input type="submit" class="btn btn-success" value="Одолжить" />
                    <select class="custom-select" name="friend_id">
                        <option selected>---</option>
                        {% for friend in friends %}
                            <option value="{{ friend.id }}">{{ friend.full_name }}</option>
                        {% endfor %}
                    </select>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
{% endblock %}