<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    Добро пожаловать в {{ title }}. <br>
    Тут собрано {{ books_count }} книг из моей личной коллекции.
    <br>
    <table border="1">
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.ISBN }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.year_release }}</td>
                <td>{{ book.author.full_name }}</td>
                <td>{{ book.author.country }}</td>
                <td>{{ book.copy_count }}</td>
                <td>
                    <form action="/index/book_increment/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{book.id}}" />
                        <input type="submit" value="Увеличить кол-во" />
                    </form>
                    <form action="/index/book_decrement/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{book.id}}" />
                        <input type="submit" value="Уменьшить кол-во" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
{#    {% with ''|center:100 as range %}#}
{#    {% for _ in range %}#}
{#        {% if forloop.counter|divisibleby:"3" %}#}
{#            {{ forloop.counter }}#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    {% endwith %}#}
</body>
</html>