{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post">
        {% csrf_token %}
<!--        {{ author_formset.management_form }}-->
        {% for form in author_formset %}
            {{ form.as_p }}
            <hr>
        {% endfor %}
<!--        {{ book_formset.management_form }}-->
        {% for form in book_formset %}
            {{ form.as_p }}
            <hr>
        {% endfor %}
        <input type="submit" class="btn btn-success" value="Сохранить">
    </form>
{% endblock %}